/*

FCapture

- github@otvv
- 09/25/2024

*/

* {
  user-select: none;
  overflow: auto;
  -webkit-user-drag: none;
  font-family: system-ui, sans-serif;
  font-size: 13px;
  margin: 0;

  color: #dedede;
  background-color: #282828;

  /* experimental */
  text-autospace: ideograph-alpha ideograph-numeric punctuation;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100vh;
}

hr,
fieldset {
  border-color: #dedede2f;
}

fieldset {
  outline: none;
  color: #dedede;
  border-radius: 5px;
  border-width: 0.5px;
}

/* title and description */
.title-container {
  display: block;
  margin: 10px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 25px;
  margin-right: 25px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}
